@model List<Entidades.Documento>
@{
    ViewBag.Title = "Index";
}

<h2>Tabla de Documentos</h2>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Referencia</th>
            <th>Destinatario</th>
            <th>Emisor</th>
            <th>Redirigido</th>
            <th>Fecha Creacion</th>
            <th>Fecha Recepcion</th>
            <th>Fecha Redirigido</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var documento in Model)
        {
            <text>
                <tr>
                    <td>@documento.CITE</td>
                    <td>@documento.Referencia</td>
                    <td>@documento.Destinatario.Nombre @documento.Destinatario.Apellido</td>
                    <td>@documento.Emisor.Nombre @documento.Emisor.Apellido</td>
                    <td>@documento.Redirigido.Nombre @documento.Redirigido.Apellido</td>
                    <td>@documento.FechaCreacion.ToShortDateString()</td>
                    <td>@documento.FechaRecepcion.ToShortDateString()</td>
                    <td>@documento.RedirigidoFecha.ToShortDateString()</td>
                </tr>
            </text>
        }
    </tbody>
</table>

@Html.ActionLink("Crear Nuevo Documento","Nuevo", "Documentos")