@model Web.Models.DocumentoListaViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Tabla de Documentos</h2>
<hr />
<div class="row">
    @using(Html.BeginForm("Filtro", "Documentos", FormMethod.Post, new { @class= "form-horizontal"})){
        <div class="form-group">
            <label class="control-label col-md-2">Referencia:</label> 
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Referencia, new { @class = "form-control" })
            </div>
            <div class="col-md-2"><input type="submit" value="Buscar" class="btn-primary" /></div>
        </div>   
        
    }
</div>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Referencia</th>
            <th>Destinatario</th>
            <th>Emisor</th>
            <th>Redirigido</th>
            <th>Fecha Creacion</th>
            <th>Fecha Recepcion</th>
            <th>Fecha Redirigido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var documento in Model.Documentos)
        {
            <text>
                <tr>
                    <td>@documento.CITE</td>
                    <td>@documento.Referencia</td>
                    <td>@documento.Destinatario.Nombre @documento.Destinatario.Apellido</td>
                    <td>@documento.Emisor.Nombre @documento.Emisor.Apellido</td>
                    <td>@documento.Redirigido.Nombre @documento.Redirigido.Apellido</td>
                    <td>@documento.FechaCreacion.ToShortDateString()</td>
                    <td>@documento.FechaRecepcion.ToShortDateString()</td>
                    <td>@documento.RedirigidoFecha.ToShortDateString()</td>
                    <td>@Html.ActionLink("Editar", "Editar", new { Id= documento.Id })</td>
                </tr>
            </text>
        }
    </tbody>
</table>

@Html.ActionLink("Crear Nuevo Documento","Nuevo", "Documentos")